<% content_for :head do %>
  <%= stylesheet_link_tag 'art-form', media: 'all' %> <!-- Aquí enlazamos el nuevo CSS -->
<% end %>


<div class="form-container"> <!-- Clase para el contenedor del formulario -->
  <h1 class="form-title">Formulario de Usuario</h1> <!-- Título del formulario -->
<%= form_with(model: articulo) do |form| %>
  <% if articulo.errors.any? %>
    <div class="error-messages" style="color: red">
      <h2><%= pluralize(articulo.errors.count, "error") %> prohibited this articulo from being saved:</h2>

      <ul>
        <% articulo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :titulo, style: "display: block" %>
    <%= form.text_field :titulo %>
  </div>

  <div class="form-field">
    <%= form.label :contenido, style: "display: block" %>
    <%= form.text_area :contenido %>
  </div>

  <div class="form-field">
    <%= form.label :usuario_id, style: "display: block" %>
    <%= form.text_field :usuario_id %>
  </div>

  <div>
    <%= form.submit 'Guardar', class: 'form-submit'%>
  </div>
<% end %>
